.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image {
    flex: 0 0 50%; /* The image takes 50% of the container width */
  }
  
  .image img {
    width: 100%; /* The image fills the width of its container */
    height:60%
  }
  
  .text {
    flex: 0 0 50%; /* The text takes 50% of the container width */
  }
  
  .footer {
    width: 100%; /* The footer spans the full width of the container */
  }